*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: dodgerblue;
}
.timer__value p{
    height: 50px;
    width: fit-content;
    border: dodgerblue 1px solid;
    border-radius: 100px;
    font-size: 3rem;
    color: #1e90ff;
    vertical-align: middle 
}
.timer__buttons button{
    height: 4rem;
    width: 6rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid dodgerblue;
    border-radius: 15px;
    background-color: black;
    font-size: 1.1rem;
    color: dodgerblue;
}